.features {
  padding-bottom: 120px;
}

.wrapper {
  display: flex;
}
.features__title2 {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #37474f;
  margin-bottom: 5px;
}
.hr {
  width: 35px;
  height: 1px;
  background: #37474f;
  border: 1px solid #37474f;
  margin-left: 15px;
}
.features__title3 {
  font-weight: 700;
  font-size: 50px;
  line-height: 62px;
  color: #191c2f;
  margin-bottom: 40px;
}
.features-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 20px;
}
.features-list__item {
  padding: 30px 29px 26px 29px;
  text-align: center;

  background: rgba(35, 4, 157, 0.03);
  border-radius: 10px;
}
.features-list__item:first-child {
  background: rgba(35, 4, 157, 0.03);
  border: 1px solid #feab38;
  border-radius: 10px;
  box-shadow: 8px 8px 5px #e5e5e5;
}
.features-list__wrap-img {
  position: relative;
  display: inline-block;
  width: 83px;
  height: 80px;
  background: #dfbb7f;
  border-radius: 50%;
  margin-bottom: 15px;
}
.features-list__img {
  position: absolute;
  top: 20px;
  left: 19px;
  width: 44px;
  height: 35px;
}
.features-list__title2 {
  max-width: 370px;
  font-size: 32px;
  line-height: 38px;
  text-align: center;

  color: #191c2f;
  margin-bottom: 8px;
}
.features-list__text {
  max-width: 370px;
  font-size: 17px;
  line-height: 20px;
  text-align: center;

  color: #191c2f;
}
@media only screen and (max-width: 789px) {
  .features__title2 {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #23049d;
    margin-bottom: 5px;
  }
  .features__title3 {
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    color: #191c2f;
  }
  .hr {
    border: 2px solid #23049d;
  }
}
@media only screen and (max-width: 389px) {
  .features__title2 {
    color: #37474f;
  }
}
