
.idea__container {
    max-width: 854px;
    margin: auto;
}
.idea__form {
    max-width: 800px;
    margin: auto;
}
.idea__text {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #263238;
    text-align: center;
    margin-bottom: 20px;
}
.idea__title {
    font-weight: 700;
    font-size: 35px;
    line-height: 43px;
    text-align: center;
    color: #263238;
    margin-bottom: 38px;
}
.idea__kontakt {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}
.idea__kontakt-name {
    display: flex;
    flex-direction: column;
}
.idea__ism {
    padding: 15px 210px 13px 20px;
    border: none;
    background-color: #F8F8F8;
    border: 1px solid #EBEBEB;
    box-shadow: inset -1px -1px 4px rgba(0, 0, 0, 0.05), inset 4px 4px 4px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: rgba(58, 58, 58, 0.4);
    max-width: 370px;
    width: 100%;
    display: block;
}
.idea__label {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #3A3A3A;
}
.idea__label-span {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: rgba(254, 171, 56, 1);
}
.idea__tel {
    max-width: 370px;
    width: 100%;
    padding: 15px 210px 13px 20px;
    border: none;
    background: #F8F8F8;
    border: 1px solid #EBEBEB;
    box-shadow: inset -1px -1px 4px rgba(0, 0, 0, 0.05), inset 4px 4px 4px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: rgba(58, 58, 58, 0.4);
    
}
.idea__textarea {
    padding: 20px 0 0 20px;
    max-width: 800px;
    height: 130px;
    width: 100%;
    background: #F8F8F8;
    border: 1px solid #EBEBEB;
    box-shadow: inset -1px -1px 4px rgba(0, 0, 0, 0.05), inset 4px 4px 4px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: rgba(58, 58, 58, 0.4);
    margin-bottom: 30px;
    
}
.idea__btn {
    display: block;
    padding: 10px 62px;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
    background-color: #DFBB7F;
    border-radius: 10px;
    border: none;
    margin-left: auto;
}
@media only screen and (max-width:800px) {
    .idea__text {
        font-size: 20px;
        line-height: 25px;
        margin-bottom: 16px;
    }
    .idea__title {
        font-size: 30px;
        line-height: 37px;
        margin-bottom: 31px;
    }
    .idea__form {
        max-width: 672px;
    }
    .idea__kontakt {
        margin-bottom: 16px;
    }
    .idea__kontakt-name {
        margin-bottom: 20px;
    }
    .idea__ism {
        max-width: 311px;
    }
    .idea__tel {
        max-width: 311px;
    }
    .idea__textarea {
        margin-bottom: 28px;
    }
    .idea__btn {
        padding: 8px 44px;
    }
}
@media only screen and (max-width:675px) {
    .idea__title {
        font-size: 30px;
        line-height: 37px;
        margin-bottom: 39px;
    }
    .idea__kontakt {
        flex-direction: column;
        margin-bottom: 0px;
        max-width: 675px;
    }
    .idea__ism {
       max-width: 675px;
    }
    .idea__tel {
        max-width: 675px;
    }
    .idea__textarea {
        margin-bottom: 40px;
    }
}