.novey {
  margin-top: 120px;
}
.novey__block {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.novey__text {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #37474f;
}
.novey__inline {
  width: 35px;
  height: 2px;
  background-color: #37474f;
  margin-left: 18px;
}
.novey__title {
  font-weight: 700;
  font-size: 50px;
  line-height: 62px;
  color: #191c2f;
  margin-bottom: 40px;
}
.novey__box {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(206px, 1fr));
  column-gap: 22px;
  row-gap: 20px;
  margin-bottom: 90px;
}
.novey__item {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: -4px -4px 10px rgba(0, 0, 0, 0.03),
    4px 4px 10px rgba(0, 0, 0, 0.03);
  border-radius: 10px;
  height: 150px;
}
.novey__logo {
  max-width: 116px;
}
.novey__setbook {
  max-width: 166px;
}
.novey__naf-academy {
  max-width: 201px;
}
.novey__safar {
  max-width: 246px;
}
.novey__yoshlar {
  max-width: 246px;
  height: 150px;
}
.novey__it-house {
  max-width: 246px;
}
.novey__dengiz {
  max-width: 181px;
}
.novey__umdsoft {
  max-width: 119px;
}
.novey__naf-invest {
  max-width: 158px;
}
.novey__annajm {
  max-width: 174px;
}
.novey__click {
  max-width: 168px;
}
.novey__it {
  max-width: 106px;
}
.novey__zt {
  max-width: 155px;
}
@media only screen and (max-width: 940px) {
  .novey {
    margin-top: 90px;
  }
  .novey__block {
    margin-bottom: 7px;
  }
  .novey__text {
    font-size: 16px;
    line-height: 20px;
  }
  .novey__title {
    font-size: 40px;
    line-height: 50px;
  }
  .novey__item {
    height: 112px;
  }
  .novey__box {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 20px;
    margin-bottom: 50px;
  }
  .novey__yoshlar {
    height: 112px;
  }
}
@media only screen and (max-width:520px) {
    .novey__box {
        grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
        margin-bottom: 28px;
      }
}
